@media screen 
and (max-device-width: 1400px) 
and (min-device-width: 375px)  {
    body {
      background-color: white;
      height: 200vh;
    }

    .top-display {
        margin-bottom: 50px;
    }

    .main {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .main-left {
        width: 95vw;
        height: 90vh;
        margin-bottom: 50px;
    }

    .display-stats {
        height: 100vh;
        padding: 20px 0;
    }

    .main-right {
        width: 95vw;
        height: auto;

    }
    .favorites-label {
        width: 95vw;
        
    }

    .brand {
        position: relative;
        right: 40px;
    }

   .hide {
       display: none;
   }

    .top-stats {
        
    }

    .player {
    }

    .player-name {
        height: 100%;
    }

    .player-team {
        height: 100%;
    }

    .player-games {
        display: none;
    }

    .doughnut {
        position: relative;
        bottom: 30px;
    }

    .scroll-arrows {
        display: none;
    }

    .favorites {
        width: 95vw;
        height: 35vh;
        margin-bottom: 80px;


    }

    .expert-picks-label {
        width: 95vw;
    }
    
    .expert-picks {
        width: 95vw;
        height: 60vh;
        margin-bottom: 40px;
    }

    .name {
        margin-bottom: 10px;
    }

    .filler {
        height: 10vh;
    }

    .news {
        padding: 40px 20px;
        height: 120px;
    }

    .headline {
        margin: 20px 0;
    }
  }